:root {
    --dist-edge: 30px;
    --brd-rad: 10px;
    --brd-rad2: 20px;
    --brd-tit: 6.5px;
    --main-col: rgb(250, 250, 250);
    --col-2: rgb(235, 235, 235);
    --col-3: rgb(70, 70, 70);
    --text-col: rgb(46, 46, 46);
    --text-col2: white;
    --shad-col: rgba(113, 6, 6, 0.438);
}

div.main-body {
	display: grid;
	grid-template-columns: minmax(300px , auto)1fr;
	grid-template-areas: "navbar mainContent";
	grid-gap: 20px;
}

nav#navbar {
	grid-area: navbar;
	position: fixed;
	border-radius: 20px;
}

header#nav-header{
	margin: 10px 20px;
	border-radius: 20px;
}

nav#navbar a {
	display: block;
	border: 5px;
	border-color:  rgba(161, 3, 3, 0.659);
	border-radius: var(--brd-rad2)!important;
	background-color: var(--col-2)!important;
	padding: 5px;
	margin: 10px 20px;
	text-decoration: none;
	color: black;
}

nav#navbar a:active {
	border: 5px;
	border-radius: var(--brd-rad2)!important ;
	border-color:  rgba(161, 3, 3, 0.659);
	background-color: var(--col-2)!important;
	display: block;
	
	padding: 5px;
	margin: 10px 20px;
	background-color: rgb(255, 255, 255);
  	color: white;
	
}

nav#navbar a:hover:not(.active) {
	background-color: var(--col-2)!important;
	border-radius: var(--brd-rad2)!important;
	display: block;
	border: 1px solid black;
	padding: 5px;
	margin: 10px 20px;
	background-color: black;
  	color: white;
}

main#main-doc {
	grid-area: mainContent;
	width: 70vw
}

header {
	margin-top: 5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: thin;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
}

h1 {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: thin;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin-bottom: 3em;
	color: rgba(161, 3, 3, 0.659)
}

code {
	background-color: #CCC;
	display: block;
	padding: 20px;
	width:70vw
}

#web-app{
    width: 70vw;
    height: 50vh;
	border-radius: 10px !important;
}

#home-page{
	width: 75vw
}

img{
	margin-bottom: 2em
}

p {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin-bottom: 5em;
	text-align: justify
  }

  

.responsive-iframe {

width: 80vw;
height: 40vw;
margin-bottom: 5em;
margin-right :5em;
border-radius: 20px;
box-shadow: 0px 0px 5px 2px rgb(195, 195, 195);

}


